In [5]:
#variables 
a= 5
b= 6
s="study group"
print("a+b= {}".format(a+b))
print("a*b= {}".format(a*b))
print("a power b = {}".format(a**b))

#note the difference between the following statements 
print("the answer of dividion as double ={}".format(b/a))
print("the answer of dividion as double int= {}".format(b//a))
# modelus 
print("the modelus of a and b = {}".format(a%b))

#you can use "" or '' to assign string
s0="double"
s1="single"
print(s0)
print(s1)

a+b= 11
a*b= 30
a power b = 15625
the answer of dividion as double =1.2
the answer of dividion as double int= 1
the modelus of a and b = 5
double
single

In [46]:
#re-assinghing to adiiferent data type 
a ="islam "
print(a)

islam

In [8]:
#type casting 
s='10'
print(type(s))
s=int(s)
print(type(s))

<class 'str'>
<class 'int'>

In [7]:
#print
a =10
a=str(a)
print(a*5)

1010101010

In [8]:
#using seperator while printing 
z,b=10,11
#with sep 
print(z,b)
#without sep
print(z,b,sep=",")
print(b)

10 11
10,11
11

In [53]:
#switching trick
print("a and b before switch:{}, {} ".format(a,b))
a,b=b,a
print("a and b after switch:{}, {} ".format(a,b))

a and b before switch:10, 11
a and b before switch:11, 10

In [9]:
#IO
#take input from user as string 
a =input() 
#take input from user as int 
b =int(input())
#take input from user as list 
c =list(map(int,input().split()))
print("type of a is ",type (a))
print("type of b is ",type (b))
print("type of c is ",type (c))

islam
10
1 2 4 5 4
type of a is  <class 'str'>
type of b is  <class 'int'>
type of c is  <class 'list'>

In [73]:
# python program to illustrate If statement 

#Indentation in Python refers to the (spaces and tabs) that are used at the beginning of a statement. 
#The statements with the same indentation belong to the same group called a suite
  
i = 10
if i > 15 : 
    print ("10 is less than 15") 
print ("I am Not in if")

I am Not in if

In [19]:
# python program to illustrate nested If statement 

i = 10
if (i == 10): 
    #  First if statement 
    if (i < 15): 
        print ("i is smaller than 15") 

    # Nested - if statement 
    # Will only be executed if statement above 
    # it is true 
    if (i < 12): 
        print ("i is smaller than 12 too") 
    else: 
        print ("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [78]:
a=10 
b=11
#logic operators in python 
#and opertor
if(a==10 and b==11):
    print("true")

print(a&b)
#&& invalid syntax

true
10

In [79]:
a=10 
b=11
#or operator 
if(a==10 or  b==11):
    print("true")

true

In [12]:
#loops 
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [14]:
#print on same line ====> use end 
#range(start, end ,step)
for i in range(14,2,-1):
    print(i,end= " ")

14 13 12 11 10 9 8 7 6 5 4 3

In [105]:
#while loop 
n=5 
while(n):
    print(n)
    n-=1

5
4
3
2
1

In [15]:
#simple program to check if the number is even  or odd 
n=10
while(n):
    if(n%2==0):
        print(n ,"is even")
    else:
        print(n ,"is odd")
    n-=1

10 is even
9 is odd
8 is even
7 is odd
6 is even
5 is odd
4 is even
3 is odd
2 is even
1 is odd

In [16]:
#no switch SAD+LOL
#alternative function 
def f(x):
    return {'a': 1,'g':1,'b':1 }.get(x, 9)    # 9 is default if x not found
print(f("a"))
print(f("C"))#note that 9 is the default value

1
9

In [20]:
#using list data strcuture in python 
#note that the list index is zero based 
l=[1,58,96,5,878,9,3,5]
#l_index=[0,1,2,3,4,...] or [...,-3,-2,-1]

#acces the element with index 5 in list
print("the element at index 5 is :",l[5])

#print the last element ohe list 
print("the element at last index is :",l[-1])

#the whole list 
print("l list is :" , l)

#to delete the last element of the list use pop function 
l.pop()
print("the list after deleting the last element ", l)
#use append function to add a new element to the list 
#you can add string 
l.append("islam")
#you can list too
l.append([1,2,3,4])
print("l after append",l)
 
#you can use this trick to reverst the list 
l=l[::-1]
print("l after reverse is :", l)

the element at index 5 is : 9
the element at last index is : 5
l list is : [1, 58, 96, 5, 878, 9, 3, 5]
the list after deleting the last element  [1, 58, 96, 5, 878, 9, 3]
l after append [1, 58, 96, 5, 878, 9, 3, 'islam', [1, 2, 3, 4]]
l after reverse is : [[1, 2, 3, 4], 'islam', 3, 9, 878, 5, 96, 58, 1]

In [21]:
l=[1,5,58,96,12,.5,878,9,3,5]
#use some useful built in functions with lists 
print("the length of the list is ",len(l))
print("the sum of the list is ",sum(l))
print("the maximun value in the list is ",max(l))
print("the minmum value in the list is ",min(l))

the length of the list is  10
the sum of the list is  1067.5
the maximun value in the list is  878
the minmum value in the list is  0.5

In [158]:
#ascii
ord("g")

103

In [22]:
#differnce between sort  and sorted functions 
#both sort and sorted function are used to sort the list 
#sorted 
l=[1,2,31,100,4,5,6]
l=sorted(l)
print(l)

[1, 2, 4, 5, 6, 31, 100]

In [25]:
#sort
l=[1,2,31,100,4,5,6]
l.sort()
print(l)

[1, 2, 4, 5, 6, 31, 100]

In [27]:
# creating a new dictionary 
my_dict ={"java":100, "python":112, "c":11} 
  
# list out keys and values separately 
key_list = list(my_dict.keys()) 
val_list = list(my_dict.values()) 
print("the keys of the dict are ",key_list)
print("the values of the dict are ",val_list)

#thats how you get the key of value 
#method 1 using the previous 
print(key_list[val_list.index(100)]) 
print(key_list[val_list.index(112)]) 
  
# one-liner 
#method 2
print(list(my_dict.keys())[list(my_dict.values()).index(112)])

the keys of the dict are  ['java', 'python', 'c']
the values of the dict are  [100, 112, 11]
java
python
python

In [193]:
#just note that .index returns the indez of the first apperance of value in the list 
l=[1,2,2,4,5,6]
l.index(2)

1

In [30]:
#dictionary

d={"islam":"elgendy","asad":"hosssam","yasmine":"elsh7at","menna":"magddy"}
#how to get the the value of the key 
#method 1 
print("the value of key \"assad\" is " ,d.get("asad"))
#method 2 
print("the value of key \"yassmine\" is ",d["yasmine"])

#re-asssgin a value of key
d["islam"]="youssef"
print("d after changing  the value of jey islam ", d )

#adding a new key and value to dict 
d[11]="gg"
print("d after adding a new key and value to it", d )

the value of key "assad" is  hosssam
the value of key "yassmine" is  elsh7at
d after changing  the value of jey islam  {'islam': 'youssef', 'asad': 'hosssam', 'yasmine': 'elsh7at', 'menna': 'magddy'}
d after adding a new key and value to it {'islam': 'youssef', 'asad': 'hosssam', 'yasmine': 'elsh7at', 'menna': 'magddy', 11: 'gg'}

In [195]:
#use for to print the keys and values 
for key,value in d.items() :
    print(key,value,sep="\t")

islam	youssef
asad	mo7afemnzla
yasmine	adele
menna	mw3ine
11	gg

In [32]:
#looping on the keys only
#not if you want to loop on values only use "dict.values()""
for key  in d.keys() :
    print(key ,end ="--")

islam--asad--yasmine--menna--11--

In [11]:
#print list items using for loops 
l=[1,2,3,4,5,6,7]
for i in l :
    print(i,end =' ')

1 2 3 4 5 6 7

In [36]:
#print dict keys and values using unpacking 
print(*d.items(),sep=" ")

('islam', 'youssef') ('asad', 'hosssam') ('yasmine', 'elsh7at') ('menna', 'magddy') (11, 'gg')

In [34]:
#diferent method to to print list values 
l=[12,34,5,64,5]
for i in range(len(l)):
    print(l[i],end =' ')

12 34 5 64 5

In [208]:
#print list using unpacking 
#note that the unpacking is faster than  looping 
print(*l)

12 34 5 64 5

In [216]:
#
l=[1,2,3,4,5,6]
#copig the list with same refrence 
l1=l
#coping the list with differernt reference 
l2=l[:]
#note l1 , l2 after changing appending to l
l.append("hola")
print(l)
#l1 changed 
print(l1)
#l2 did not change 
print(l2)

[1, 2, 3, 4, 5, 6, 'hola']
[1, 2, 3, 4, 5, 6, 'hola']
[1, 2, 3, 4, 5, 6]

In [217]:
#check if the value in the 
#method 1 
for i in l :
    if(i==2):
        print("true")

true

In [16]:
#method 1 
#this method is faster than the previous method 
if 2 in l :
    print("i am here")

i am here

In [15]:
#check if the value not in the 
if 8 not in l :
    print("yes")

yes

In [218]:
#you can apply the previous cincept on string t00
s="islam"
if "i" in s :
    print("ok")

ok

In [39]:
#how to use is not 
if type(5) is not  int  :
    print("ok")
else :
    print("no")

no

In [38]:
s ="studY GROUP "
#sting functions
#convert all sring to lower case 
print(s.lower())
#convert all sring to upper  case 
print(s.upper())

study group
STUDY GROUP

In [25]:
#slicing the string 
print(s[1:3])

tu

In [235]:
#print a string more than time on same line 
print("="*100)

====================================================================================================

In [236]:
#check if a substring is in a string 
if "tu" in s :
    print(s)

studY

In [238]:
#replacing a char with another 
s.replace("s",'p')

'pppudY'

In [245]:
##list comprehensin
# use list comprehensin to list the even numbers from 0-8 i
l=[ i for i in range(0,10,2)]
print(l)

[0, 2, 4, 6, 8]

In [247]:
##use list comprehensin to add 5 to evey number in another list 
b=[i+5 for i in l]
print(b)

[5, 7, 9, 11, 13]

In [241]:
#list comprehensin to square the elements of the list 
l=[1,2,3,4,5,6]
b=[i*i for i in l]
print(b)

[1, 4, 9, 16, 25, 36]

In [2]:
##list comprehensin to square the elements of the list  if the number is even 
l=[i*i for i in range(9) if(i%2==0)]
l

[0, 4, 16, 36, 64]

In [254]:
#the syntax of how to definine a simple function in pythi 
def fun(x):
    return x*x
print(fun(5))

25

In [40]:
l=[False,True,True]
#all function returns True if all the element are true 
print(all(l))
#any returns true if any elenment is true
print(any(l))

False

In [260]:
print ("Both a and b are equal" if a == b else "a is greater than b"
        if a > b else "b is greater than a")

b is greater than a

In [261]:
#[on_true] if [expression] else [on_false] 
# Program to demonstrate conditional operator 
a, b = 10, 20
  
# Copy value of a in min if a < b else copy b 
min = a if a < b else b 
  
print(min)

10